# Explorations on the City Bike dataset

In [36]:
import datetime
import pandas as pd
import numpy as np

In [32]:
# Load 20-liner
df = pd.read_csv('../data/lines20.csv')

In [33]:
df.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504,1 Ave & E 15 St,40.732219,-73.981656,16950,Customer,\N,0
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,W 26 St & 10 Ave,40.749718,-74.002950,459,W 20 St & 11 Ave,40.746745,-74.007756,19816,Customer,\N,0

In [11]:
df.columns

Index([u'tripduration', u'starttime', u'stoptime', u'start station id',
       u'start station name', u'start station latitude',
       u'start station longitude', u'end station id', u'end station name',
       u'end station latitude', u'end station longitude', u'bikeid',
       u'usertype', u'birth year', u'gender'],
      dtype='object')

In [49]:
# Initial FILTER: duration, start_time, start_location, end_location, usertype
pre_filter = ['tripduration', 'starttime', 'usertype',
              'start station latitude', 'start station longitude',
              'end station latitude', 'end station longitude' ]
predata = df[ pre_filter ]

# Trip to minutes -> Intervals
trip_cuts = [5,10,30,60]
predata['duration'] = np.digitize( predata['tripduration'] / 60, trip_cuts )

# Hour of day (floor)
get_hour = lambda x: int( x.split()[1].split(':')[0] )
predata['time'] = predata['starttime'].apply(get_hour)

# Weekday
get_weekday = lambda x: datetime.datetime(*map(int, x.split()[0].split('-'))).weekday()
predata['weekday'] = df['starttime'].apply(get_weekday)

# Rename columns
renamer = {'start station latitude': 'start_lat',
           'start station longitude': 'start_lon',
           'end station latitude': 'end_lat',
           'end station longitude': 'end_lon'}
predata.rename(columns=renamer, inplace=True)

# Final filter
final_filter = ['weekday', 'time', 'duration', 'usertype',
                'start_lat', 'start_lon', 'end_lat', 'end_lon']
data = predata[ final_filter ]

/Users/will/miniconda3/envs/py2/lib/python2.7/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/will/miniconda3/envs/py2/lib/python2.7/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/will/miniconda3/envs/py2/lib/python2.7/site-packages/ipykernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [50]:
data

,weekday,time,duration,usertype,start_lat,start_lon,end_lat,end_lon
0,0,0,2,Customer,40.753231,-73.970325,40.732219,-73.981656
1,0,0,2,Customer,40.749718,-74.002950,40.746745,-74.007756
2,0,0,0,Subscriber,40.730287,-73.990765,40.730473,-73.986724
3,0,0,2,Customer,40.718939,-73.992663,40.769155,-73.981918
4,0,0,2,Subscriber,40.734927,-73.992005,40.720664,-73.985180
5,0,0,2,Subscriber,40.729387,-73.977724,40.754557,-73.965930
6,0,0,1,Customer,40.730287,-73.990765,40.725213,-73.977688
7,0,0,0,Subscriber,40.711464,-74.005524,40.708621,-74.007222
8,0,0,2,Subscriber,40.726218,-73.983799,40.730477,-73.999061
9,0,0,2,Subscriber,40.760647,-73.984427,40.760193,-73.991255
10,0,0,1,Subscriber,40.716250,-74.009106,40.705310,-74.006126
11,0,0,2,Subscriber,40.723180,-73.994800,40.714275,-73.989900
12,0,0,2,Customer,40.760193,-73.991255,40.756800,-73.982912
13,0,0,0,Subscriber,40.732219,-73.981656,40.733143,-73.975739
14,0,0,2,Customer,40.760193,-73.991255,40.756800,-73.982912
15,0,0,2,Customer,40.745168,-73.986831,40.727103,-74.002971
16,0,0,1,Subscriber,40.756405,-73.990026,40.750380,-73.983390
17,0,0,2,Subscriber,40.743453,-74.000040,40.762272,-73.987882
18,0,0,1,Customer,40.747348,-73.997236,40.751396,-74.005226